<form id="addItemModal" name="addItemModal" novalidate>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add Item</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label>Item name</label>
            <input class="form-control input" required type="text" name="itemName" ng-model="model.itemName" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addItemToCategory()" type="button" ng-disabled="addItemModal.$invalid">Save</button>
        <button class="btn btn-default" ng-click="closeModal()" type="button">Cancel</button>
    </div>
</form>
